.btn {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
	letter-spacing: .01em;
  margin: 0 auto;
  margin-top: 50px;
  padding: 1.2em 2em;
}

.price {
  width: 300px;
  margin: 80px auto 0;
  font-size: 60px;
  text-align: center;
}

#banner {
  width: 100%;
  height: 200px;
}

#dollar{
  width: 350px;
  margin-left: 37%;
}
